local/img/*
!local/img/README.md
!local/img/avatar/default.png
docs/*
!docs/collections/
!docs/_config.yml
!docs/favicon.ico
!docs/Gemfile
!docs/index.md
!docs/assets/
local/*.json
venv/
test.py
__pycache__/
process.py
config-*
plugins/sjtudoor/jLock/*
jLock_venv/
*.txt
nohup.out